body{
	background-color: #B9DAE6;
	font-family: Georgia;
	margin-top: 5%;
	margin-bottom: 10%;
}
h1{
	border-style: ridge;
	border-width: 7px;
	text-align: center;
	margin-left: 20%;
	margin-right: 20%;
}

p{
	margin-right: 10%;
	margin-left: 10%;
}

#myImage {
    max-width: 400px; 
    max-height: 400px;
    display: block;
    margin: 0 auto;
}
.center
{
	text-align:center;
}
