body{
	background-color: #B9DAE6;
	font-family: Helvetica;

}
h1{ asdf;laksdjf;lkasjdfl;kasjdf;lkasj; and h3
	border-style: ridge;
    border-width: 7px;
	text-align: center;
	margin-left: 20%;
	margin-right: 20%;
}

p{
	margin-right: 20%;
	margin-left: 20%;
}
.indent{
	margin-left:30%;
}